@keyframes bounceLeft {
    0%, 20%, 50%, 80%, 100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-10px);
    }
    60% {
        transform: translateX(-5px);
    }
}

.home-link {
    animation: bounceLeft 1s infinite;
    /* Adjust the duration and any other styling as needed */
}
