@keyframes bounce {
    from {
      transform: translateY(0px);
    }
    to {
      transform: translateY(-5px);
    }
  }

.box {
animation:
    bounce 300ms
    alternate infinite
    cubic-bezier(.2, .65, .6, 1);
}

.body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #e5e7eb;
}