<div class="py-5">
    <p class="text-xl">Home /<span class="text-muted-foreground">Cart</span></p>

    <h1 class=" mt-2 text-3xl font-bold">Shopping cart </h1>

    <table>
        <thead>
            <th class="text-left">Item</th>
            <th class="text-left">Price</th>
            <th class="text-left">Quantity</th>
            <th class="text-left">SubTotal</th>
        </thead>
        <tbody>
            <tr class="text-left" *ngFor="let item of addedItems">
                <td class="h-full"><img class="h-full  w-[75px]"  [src]="item.image" alt=""></td>
                <td class="h-full ">{{formatPrice(item.price)}}</td>
                <td class="h-full flex items-center justify-center  w-[120px]">
                    <div class="flex h-full gap-1 my-3 items-center flex-1">
                        <button (click)="decrementItem(item)" class="flex items-center justify-center h-[25px] w-[25px] rounded-full border-[1px] border-[#ff6b6b]">
                            <i class="text-md fa-solid fa-minus text-[#ff6b6b]"></i>
                        </button>
                        <span class="mx-2 text-xl">{{getCount(item)}}</span>
                        <button (click)="incrementItem(item)"  
                        class="flex items-center justify-center h-[25px] w-[25px] rounded-full border-[1px] border-[#ff6b6b]">
                            <i class="text-md fa-solid fa-plus text-[#ff6b6b]"></i>
                        </button>
                    </div>
                </td>
                <td>{{getSubTotalInCart(item)}}</td>
            </tr>
        </tbody>
    </table>
</div>
