<app-navbar></app-navbar>
<div class="container">
  <div class="h-[550px] flex items-center z-0 justify-between gap-5">
    <div class="sm:block hidden w-[450px]">
      <h1 class="text-4xl font-semibold">Discover a World of Possibilities</h1>
      <p class="mt-3 text-muted-foreground">
        Welcome to our online emporium, where your shopping dreams come to life. Explore a diverse array of top-tier products, meticulously curated just for you. From fashion-forward trends to cutting-edge technology, your next must-have item awaits.
      </p>
      <button  class="rounded-lg mt-10 px-[1.5em] py-[0.55em] bg-[#ff6b6b] 
                  text-[#f2f3f5] h-full right-0 border-0
                   outline-none text-[1em] font-semibold">
                   Shop Now!
        </button>
    </div>
    <div *ngIf="slides.length > 0">
       <c-carousel [dark]="true" [wrap]="false" class="w-[100%] h-[100%] z-0  pt-6">
        <c-carousel-inner class="h-[100%] w-[100%] ">
            <c-carousel-item relative 
            class="w-[100%]  h-[100%] relative" 
            *ngFor="let slide of slides; index as i;">
              <img
                [src]="slide.image"
                alt="{{slide.header}}"
                class="w-[100%] sm:w-[1000px] object-cover h-[550px] border"
                loading="lazy"
              />
              <c-carousel-caption class="absolute top-[50%] bg-[black] text-center opacity-50 p-5 rounded-md left-[50%] translate-x-[-50%] translate-y-[-50%]">
                <h3 class="text-4xl mb-4 text-white leading-10 text-center font-bold">{{slide.header}}</h3>
                <p class="text-1xl font-medium text-gray-400">{{slide.description}}</p>
              </c-carousel-caption>
              <c-carousel-control class="absolute top-[50%] translate-y-[-50%] text-red-700 left-[15px]" [routerLink]  direction="prev">
                <i class="text-7xl text-[#ff6b6b] font-bold ri-arrow-drop-left-line"></i>
              </c-carousel-control>
              <c-carousel-control class="absolute top-[50%] translate-y-[-50%] text-red-700 right-[15px]" [routerLink]  direction="next">
                <i class="text-7xl text-[#ff6b6b] font-bold ri-arrow-drop-right-line"></i>
              </c-carousel-control>           
            </c-carousel-item>
        </c-carousel-inner>
    </c-carousel>
    </div>
   
</div>

<!-- trust badge -->
<div class="  mt-5">
    <div class="grid mt-10 grid-cols-1 :grid-cols-2 sm:grid-cols-3 md:grid-cols-4  gap-5 text-center">
        <div class="flex w-full sm:flex-col sm:items-center justify-evenly sm:justify-center  text-center">
            <i class=" text-3xl fa-solid fa-truck"></i>
           <div>
            <span class="text-md w-full font-semibold">Free Shipping</span>
            <p class="text-xs text-gray-500">Order Taday - Receive Tomorrow</p>
           </div>
        </div>
        <div class="flex w-full sm:flex-col sm:items-center justify-evenly sm:justify-between gap-1 text-center">
            <i class=" text-3xl fa-solid fa-tag"></i>
           <div>
            <span class="text-md w-full font-semibold">Price-match guarante</span>
            <p class="text-xs text-gray-500">safe money when ordering with us</p>
           </div>
        </div>
        <div class="flex w-full sm:flex-col sm:items-center justify-evenly sm:justify-between gap-1 text-center">
            <i class=" text-3xl fa-solid fa-arrow-rotate-left"></i>
            <div>
                <span class="text-md w-full font-semibold">Hassle-free Exchange</span>
            <p class="text-xs text-gray-500">Receive a slip for exchanging</p>
            </div>
            
        </div>
        <div class="flex w-full sm:flex-col sm:items-center justify-evenly sm:justify-between gap-1 text-center">
            <i class="text-3xl fa-solid fa-star"></i>
           <div>
            <span class="text-md w-full font-semibold">5.0 Google Reviews</span>
            <p class="text-xs text-gray-500">Customer statisfaction #1priorty</p>
           </div>
        </div>
    </div>
</div>

<!-- fetching Featured product -->
<div class="mt-10">
  <h2 class="text-3xl font-bold flex items-center gap-3">
    <i class="text-yellow-500 fa-solid fa-star"></i>
    Featured Products
  </h2>
  <div *ngIf="isLoading; then thenBlock else elseBlock"></div>
  <ng-template #thenBlock>
      <div class="w-[100%] h-[40vh] relative flex items-center justify-center ">
          <div role="status">
              <svg aria-hidden="true" class="inline w-[100px] h-[100px] mr-2 text-gray-200 animate-spin dark:text-gray-600 fill-[#ff6b6b]" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
                  <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
              </svg>
              <span class="sr-only">Loading...</span>
          </div>
      </div>
  </ng-template>
  <ng-template #elseBlock>
    <div class="grid-container mt-8">
      <div class="p-2 relative cursor-pointer border gap-4 flex flex-col  border-[#ff6b6b] "    
          *ngFor="let product of featuredProduct">
  
        <div class="image h-[250px] w-full">
          <img src="{{product.image}}" class="h-full  object-cover w-full" alt="">
        </div>
        <div>
          <h1 class="text-2xl font-medium underline" routerLink="/products/{{ product._id }}">{{ product.name }}</h1>
          <p class="text-slate-600 text-sm">{{ product.description.length > 25 ? product.description.slice(0, 22) + '...' : product.description }}</p>
          <div class="flex gap-2 items-center mt-2">
            <i class="text-yellow-500 fa-solid fa-star"></i>
            <i class="text-yellow-500 fa-solid fa-star"></i>
            <i class="text-yellow-500 fa-solid fa-star"></i>
            <i class="text-yellow-500 fa-solid fa-star"></i>
            <i class="text-yellow-500 fa-regular fa-star"></i>
            <span class="me-3 font-medium text-slate-400">
              (2561)
            </span>
          </div>
          <div class="flex items-center mt-3  gap-3">
            <span class="text-4xl mr-1 font-medium text-[#ff6b6b]">{{ formatPrice(product.price) }}</span>
            <span class="text-xl text-slate-500 relative ">
              {{ formatPrice(product.discount) }} 
              <span class="absolute left-0 top-[50%] translate-y-[-50%] w-full bg-slate-600 h-[1px] "></span>
            </span>
          </div>
          <div>
            <p class="text-sm text-slate-600"><span class="font-medium text-xl">{{product.quantity}} </span>In stock.</p>
          </div>
          <div>
            <p class="mt-4 text-sm text-slate-600">{{ formatReadableDate(product.firstDate) }}</p>
          </div>
          
        </div>
        <div class="absolute flex flex-col gap-5 bottom-[10px] right-[10px]">
          <!-- Heart Icon -->
          <div class="flex items-center justify-center bg-[rgba(0,0,0,0.07)] h-[35px] w-[35px] rounded-full"
            (click)="toggleFavoriteIcon(product);"
            >
            <i [ngClass]="{ 'bg-red-icon': isFavorite(product) }" class="fa-solid fa-heart"></i>
          </div>
  
        
          <!-- Cart Icon -->
          <div class="flex items-center bg-[rgba(0,0,0,0.07)] justify-center h-[35px] w-[35px] rounded-full"
              (click)="toggleCartIcon(product)"
            >
  
            <div *ngIf="isInCart(product); then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              
              <i class="fa-solid fa-check text-xl text-green-500 font-bold"></i>
            </ng-template>
            <ng-template #elseBlock>
              <i class="fa-solid fa-cart-shopping"></i>
            </ng-template>
        </div>
  
        </div>
      </div>
  
    </div>
  </ng-template>
  
</div>

</div>

 <!-- newsletter -->
<div class="bg-[#453c5c] py-10 mt-10">
  <div class="container">
      <div class="flex flex-col gap-5 sm:flex-row 
       justify-between items-start">
          <div>
            <h1 class="text-3xl font-bold text-white leading-6">Join Our Newsletter</h1>
            <p class="text-white">Get e-mail updates about our latest sop and special offers</p>
          </div>
          <div class="right flex-1 w-full  md:max-w-[400px] lg:max-w-[600px]">
            <div class="relative overflow-hidde">
                <input class="border-0 text-2xl overflow-hidden rounded-[10px] 
                text-[0.9em] font-light w-full outline-none pr-[7em] pl-2 
                leading-[3.25em]" type="text" placeholder="Enter Your Email here.">
                <button  class="rounded-r-lg  absolute
                 top-0 px-[1.5em] py-[0.55em] bg-[#ff6b6b] 
                  text-[#f2f3f5] h-full right-0 border-0
                   outline-none text-[1em] font-semibold">Sign Up</button>
            </div>
        </div>
      </div>
  </div>    
</div>