<div class="h-[550px]">
    <c-carousel [dark]="true" [wrap]="false" class="w-[100%]  md:w-[calc(100%-(300px))] h-[100%] z-20 ml-auto  md:pl-6 pt-6">
        <c-carousel-inner class="h-[100%] w-[100%] ">
            <c-carousel-item relative class="w-[100%]  h-[100%] relative" *ngFor="let slide of slides; index as i;">
              <img
                [src]="slide.src"
                alt="{{slide.title}}"
                class="w-[100%] object-cover h-[550px] border"
                loading="lazy"
              />
              <c-carousel-caption class="absolute top-[50%] bg-[black] text-center opacity-50 p-5 rounded-md left-[50%] translate-x-[-50%] translate-y-[-50%]">
                <h3 class="text-4xl mb-4 text-white leading-10 text-center font-bold">{{slide.title}}</h3>
                <p class="text-1xl font-medium text-gray-400">{{slide.subtitle}}</p>
              </c-carousel-caption>
              <c-carousel-control class="absolute top-[50%] translate-y-[-50%] text-red-700 left-[15px]" [routerLink]  direction="prev">
                <i class="text-7xl text-[#ff6b6b] font-bold ri-arrow-drop-left-line"></i>
              </c-carousel-control>
              <c-carousel-control class="absolute top-[50%] translate-y-[-50%] text-red-700 right-[15px]" [routerLink]  direction="next">
                <i class="text-7xl text-[#ff6b6b] font-bold ri-arrow-drop-right-line"></i>
              </c-carousel-control>           
            </c-carousel-item>
        </c-carousel-inner>
    </c-carousel>
</div>

<div class="py-5 sm:mt-5 mt-8">
    <div class="grid  grid-cols-1 :grid-cols-2 sm:grid-cols-3 md:grid-cols-4  gap-5 text-center">
        <div class="flex w-full sm:flex-col sm:items-center justify-evenly sm:justify-center  text-center">
            <i class=" text-3xl fa-solid fa-truck"></i>
           <div>
            <span class="text-md w-full font-semibold">Free Shipping</span>
            <p class="text-xs text-gray-500">Order Taday - Receive Tomorrow</p>
           </div>
        </div>
        <div class="flex w-full sm:flex-col sm:items-center justify-evenly sm:justify-between gap-1 text-center">
            <i class=" text-3xl fa-solid fa-tag"></i>
           <div>
            <span class="text-md w-full font-semibold">Price-match guarante</span>
            <p class="text-xs text-gray-500">safe money when ordering with us</p>
           </div>
        </div>
        <div class="flex w-full sm:flex-col sm:items-center justify-evenly sm:justify-between gap-1 text-center">
            <i class=" text-3xl fa-solid fa-arrow-rotate-left"></i>
            <div>
                <span class="text-md w-full font-semibold">Hassle-free Exchange</span>
            <p class="text-xs text-gray-500">Receive a slip for exchanging</p>
            </div>
            
        </div>
        <div class="flex w-full sm:flex-col sm:items-center justify-evenly sm:justify-between gap-1 text-center">
            <i class="text-3xl fa-solid fa-star"></i>
           <div>
            <span class="text-md w-full font-semibold">5.0 Google Reviews</span>
            <p class="text-xs text-gray-500">Customer statisfaction #1priorty</p>
           </div>
        </div>
    </div>
</div>

<div class="mt-10">
  <h2 class="text-3xl font-bold flex items-center gap-3">
    <i class="text-yellow-500 fa-solid fa-star"></i>
    Featured Products
  </h2>
  <div class="grid-container mt-8">
    <div class="p-2 relative cursor-pointer border flex sm:flex-col  border-[#ff6b6b] "    
        *ngFor="let product of products">
      <div class="image h-[250px] w-full">
        <img src="{{product.image}}" class="h-full object-cover w-full" alt="">
      </div>
      <div>
        <h1 class="text-2xl font-medium underline" routerLink="/products/{{ product._id }}">{{ product.name }}</h1>
        <p class="text-slate-600 text-sm">{{ product.description.length > 25 ? product.description.slice(0, 22) + '...' : product.description }}</p>
        <div class="flex gap-2 items-center mt-2">
          <i class="text-yellow-500 fa-solid fa-star"></i>
          <i class="text-yellow-500 fa-solid fa-star"></i>
          <i class="text-yellow-500 fa-solid fa-star"></i>
          <i class="text-yellow-500 fa-solid fa-star"></i>
          <i class="text-yellow-500 fa-regular fa-star"></i>
          <span class="me-3 font-medium text-slate-400">
            (2561)
          </span>
        </div>
        <div class="flex items-center mt-3  gap-3">
          <span class="text-4xl mr-1 font-medium text-[#ff6b6b]">{{ formatPrice(product.price) }}</span>
          <span class="text-xl text-slate-500 relative ">
            {{ formatPrice(product.discount) }} 
            <span class="absolute left-0 top-[50%] translate-y-[-50%] w-full bg-slate-600 h-[1px] "></span>
          </span>
        </div>
        <div>
          <p class="text-sm text-slate-600"><span class="font-medium text-xl">{{product.quantity}} </span>In stock.</p>
        </div>
        <div>
          <p class="mt-4 text-sm text-slate-600">{{ formatReadableDate(product.firstDate) }}</p>
        </div>
        
      </div>
      <div class="absolute flex flex-col gap-5 bottom-[10px] right-[10px]">
        <!-- Heart Icon -->
        <div class="flex items-center justify-center bg-[rgba(0,0,0,0.07)] h-[35px] w-[35px] rounded-full"
          (click)="toggleFavoriteIcon(product);"
          >
          <i [ngClass]="{ 'bg-red-icon': isFavorite(product) }" class="fa-solid fa-heart"></i>
        </div>

      
        <!-- Cart Icon -->
        <div class="flex items-center justify-center bg-[rgba(0,0,0,0.07)] h-[35px] w-[35px] rounded-full"
            (click)="toggleCartIcon(product)"
          >
        <i   [ngClass]="{ 'bg-blue-icon': isInCart(product) }" class="fa-solid fa-cart-shopping"></i>
      </div>
      </div>
    </div>
  </div>
</div>