<div class="space-y-10 pb-10">
    <div class="rounded-xl overflow-hidden">
        <div [ngStyle]="{'background-image': 'url(../../../assets/banner.avif)', 'background-size': 'cover'}" class="rounded-xl relative h-[250px] overflow-hidden bg-cover">
            <div class="h-full w-full flex flex-col justify-center items-center text-center gap-y-8">
                <div class="font-bold text-white text-3xl sm:text-5xl lg:text-6xl sm:max-w-xl max-w-xs">
                    Explore The New Collections!
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div>
        
        <span>Safe Payement</span>
    </div>
</div>
