.grid-container{
    display: grid;
    grid-template-columns: 
    repeat(auto-fill, minmax(250px,1fr));
    gap: 15px;
}

.bg-red-icon {
    color: #fe8181;
    /* Add other styling as needed */
  }
  
.bg-blue-icon {
color: #fe8181;
/* Add other styling as needed */
}

.grid-container-version{
  display: grid;
  grid-template-columns: 
  repeat(auto-fill, minmax(350px,1fr));
  gap: 15px;
}
.scale-image{
  transition: 0.2s ease-in;
}
.scale-image:hover{
  transform: scale(1.1);
}

.categories{
  display: flex;
  gap:5px;
  flex-wrap: nowrap;
  width: 100%;
  padding: 10px 0;
  overflow-x: auto;
}

.category{
  border: 0;
  
}