
.responsive-nav {
    transition: 0.3s ease-in-out;
    z-index: 1111;
    box-shadow: 0 0px 5px 5px rgba(0, 0, 0, 0.2); /* Adjust the blur value (5px) to your preference */
}

.shadows.active::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Adjust the opacity (0.7) to your preference */
    backdrop-filter: blur(2px); /* Adjust the blur value (2px) to your preference */
}

.active {
    left: 0;
}


.fly-item {
    position: absolute;
    top: 0;
    right: -5px;
    height: 17px;
    width: 17px;
    font-size: 10px;
    border-radius: 50%;
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: bold;
}

.fly-item-dev{
    position: absolute;
    top: -5px;
    right: -5px;
    height: 17px;
    width: 17px;
    font-size: 10px;
    border-radius: 50%;
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: bold;
}

.ul:nth-child(1) {
    display: block;
    background-image: url('../../../assets/menu/menu_bg1.jpg');
    height: 100%;
    width: 100%;
}

.subcategories::before{
    content: '';
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid #ff6b6b;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -14px;
}

.transition{
    transform: 0.3 ease-in;
}
.category:hover .subcategories{
    display: block;
}

.responsive-nav-border-radius{
    border-bottom-right-radius: 160px 25px;
}

.close-btn:hover {
    animation: spin-icon 0.5s linear;
}

@keyframes spin-icon {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(500deg);
    }
  }