<div  [class.fixed]="isHeaderFixed" [class.shadow-lg]="isHeaderFixed" class="top-0 border-b  left-0 right-0 w-full z-50 bg-white">
    <div class="flex items-center  container">
        <div class="relative h-16 w-[100%] flex items-center justify-between ">
            <div class="flex gap-4 items-center">
                <button (click)="openNavbar()"  class="sm:hidden   flex">
                    <i class="text-3xl font-bold ri-menu-2-line"></i>
                </button>
                <a routerLink="/">
                    <p class="font-bold text-xl relative">
                        <span class="text-4xl font-bold">P</span>ickme.
                    </p>
                </a>

                <nav class="mx-6 hidden sm:block">
                    <ul class="flex justify-center items-center space-x-4 lg:space-x-6">
                        <li *ngFor="let route of routes">
                            <a class="text-sm font-medium transition-colors hover:text-black"
                                [class]="{
                                'text-black': route.active == true,
                                'text-neutral-500': route.active == false
                                }"
                                [routerLink]="route.href">
                                {{ route.label }}
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="flex items-center gap-x-3">
                <a class="relative sm:block hidden cursor-pointer " routerLink="/developer">
                    <i class="fa-solid text-[25px] text-green-700 fa-code"></i>
                    <span class="fly-item-dev bg-green-700">13</span>
                </a>
                <a class="relative sm:block hidden cursor-pointer " routerLink="/Favs">
                    <i class="text-[25px] font-semibold text-pink-600 ri-heart-line"></i>
                    <span class="fly-item  bg-pink-600">{{getFavoriteItemCount()}}</span>
                </a>
                <a class="relative cursor-pointer" routerLink="/checkout"> 
                    <i class="text-[25px] font-semibold text-blue-600  ri-shopping-cart-line"></i>
                    <span class="fly-item bg-blue-600">{{getCartItemCount()}}</span>
                </a>
                <a class="flex  flex-col border-r-2 border-[#ff6b6b] pr-4" >
                    <p class="text-xs text-gray-500 ">Total</p>
                    <span class="font-bold text-2xl  mt-[-4px]">${{calculateCartTotal()}}</span>
                </a>
                <div>
                    <div *ngIf="result.success; then t5henBlock else e5lseBlock"></div>
                    <ng-template #t5henBlock>
                    <!-- Content to display when 'success' is true -->
                    <div mat-button [matMenuTriggerFor]="menu" class="flex gap-3 p-2 items-center">
                        <span class="text-lg font-medium sm:block hidden">{{ result.customer.lastName }} {{ result.customer.firstName }}</span>
                        <div class="h-[45px] flex items-center justify-center bg-[#ff6b6b] w-[45px] rounded-full">
                        <img [src]="result.customer.profileImage" alt="image" class="h-[40px] w-[40px] rounded-full">
                        </div>
                    </div>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="navigateToProfile()">Profile</button>
                        <button mat-menu-item (click)="logout()">Logout</button>
                    </mat-menu>
                    </ng-template>
                    <ng-template #e5lseBlock>
                    <!-- Content to display when 'success' is false -->
                    <div class="flex items-center gap-3">
                        <a routerLink="/register" class="px-4 py-2 border border-[#ff6b6b] hover:bg-[#ff6b6b] transition hover:text-white 
                        font-medium rounded-lg text-[#ff6b6b]">Sign Up</a>
                        <a routerLink="/login" class="px-4 py-2 border border-[#ff6b6b] 
                        font-medium rounded-lg text-white bg-[#ff6b6b]">Sign In</a>
                    </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- responsive mobile  -->
<div class="shadows flex sm:hidden " [ngClass]="{'active':isOpen}">
    
    <div [ngClass]="{'active':isOpen}" class="responsive-nav  sidebar transition  
     top-0 left-[-300px] fixed h-[100vh] w-[300px] overflow-hidden  z-10 bg-white overflow-y-auto">
        <div class=" w-[100%] flex items-start flex-col justify-between ">
            
            <div class="w-full responsive-nav-border-radius flex text-[#fff] p-[1.5em] pb-[3em] bg-[#453c5c] justify-between items-center bg-">
                <a routerLink="/">
                    <p class="font-bold text-3xl">Store</p>
                </a>
                <button (click)="closeNavbar()" class="sm:hidden close-btn flex
                    ">
                    <i class="text-3xl font-bold fa-solid  fa-xmark"></i>
            </button>
            </div>
    
            <div class="w-full p-3 mt-3">
                <div>
                    <h1 class="text-2xl p-4 bg-[#f2f3f5] mb-4 text-center rounded">All department</h1>
                    <ul>
                      <li class=" relative" *ngFor="let cat of cats">
                        <a
                            [routerLink]="['/products']"
                            [queryParams]="{ category: cat.name }"
                          class="font-medium h-[46px] flex items-center gap-1  text-xl "                        
                        >
                            <i class="ri-bear-smile-line"></i>
                            <span class="text-gray-500 text-xl font-medium ">{{ cat.name }}</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div >
                    <div class="flex items-start gap-y-4  flex-col gap-x-3">
                        <div>
                            <a class="relative mr-6 cursor-pointer " routerLink="/developer">
                                <i class="fa-solid text-[25px] text-green-700 fa-code"></i>
                                <span class="fly-item-dev bg-green-700">13</span>
                            </a>
                            <a class="relative mr-6 cursor-pointer " routerLink="/Favs">
                                <i class="text-[25px] font-semibold text-pink-600 ri-heart-line"></i>
                                <span class="fly-item bg-pink-600">{{getFavoriteItemCount()}}</span>
                            </a>
                            <a class="relative mr-6 cursor-pointer" routerLink="/checkout"> 
                                <i class="text-[25px] font-semibold text-blue-600  ri-shopping-cart-line"></i>
                                <span class="fly-item bg-blue-600">{{getCartItemCount()}}</span>
                            </a>
                            <a class="flex  flex-col pr-4" >
                                <p class="text-xs text-gray-500 ">Total</p>
                                <span class="font-bold text-2xl  mt-[-4px]">${{calculateCartTotal()}}</span>
                            </a>
                        </div>
                        <div>
                            <div *ngIf="result.success; then t5henBlock else e5lseBlock"></div>
                            <ng-template #t5henBlock>
                            <!-- Content to display when 'success' is true -->
                            <div mat-button [matMenuTriggerFor]="menu" class="flex gap-3 p-2 items-center">
                                <span class="text-lg font-medium">{{ result.customer.lastName }} {{ result.customer.firstName }}</span>
                                <div class="h-[45px] flex items-center justify-center bg-[#ff6b6b] w-[45px] rounded-full">
                                <img [src]="result.customer.profileImage" alt="image" class="h-[40px] w-[40px] rounded-full">
                                </div>
                            </div>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item (click)="navigateToProfile()">Profile</button>
                                <button mat-menu-item (click)="logout()">Logout</button>
                            </mat-menu>
                            </ng-template>
                            <ng-template #e5lseBlock>
                            <!-- Content to display when 'success' is false -->
                            <div class="flex items-center gap-3">
                                <a routerLink="/register" class="px-4 py-2 border border-[#ff6b6b] hover:bg-[#ff6b6b] transition hover:text-white 
                                font-medium rounded-lg text-[#ff6b6b]">Sign Up</a>
                                <a routerLink="/login" class="px-4 py-2 border border-[#ff6b6b] 
                                font-medium rounded-lg text-white bg-[#ff6b6b]">Sign In</a>
                            </div>
                            </ng-template>
        
                        </div>
                    </div>
                  </div>
                <nav class="w-full">
                    <ul class="flex justify-center flex-col items-start">
                        <li (click)="closeNavbar()" *ngFor="let route of routes" class="w-full p-3 rounded-sm text-black hover:bg-[#f6f6f6] ">
                            <a class="text-md font-medium text-black transition-colors"
                                [routerLink]="route.href">
                                {{ route.label }}
                            </a>
                        </li>
                    </ul>
                </nav>                
            </div>
        </div>
    </div>
</div>


<div *ngIf="!currentPath">
    <div class="bg-[#453c5c] py-5">
        <div class="container">
            <div class="flex justify-between items-center">
                <div class="left md:block hidden">
                    <div class="relative z-10 ">
                        <div (click)="togglecats()" class="relative w-[300px] mb-[-1.2em] px-3 text-[#fff] py-6 bg-[#ff6b6b] rounded-t-lg">
                            <div class="">All Department</div>
                            <div class="text-xs text-[#f2f3f5]">Total 20 products</div>
                 
                            <div  class="absolute right-0 h-[60px] w-[60px] top-0 p-[1.3em]">
                                <div *ngIf="isopencats; then thenBlock else elseBlock"></div>
                                <ng-template #elseBlock><i class="text-3xl fa-solid fa-xmark"></i></ng-template>
                                <ng-template #thenBlock><i class="text-3xl  ri-menu-3-line "></i></ng-template>   
                            </div>
                        </div>
                        <div [ngClass]="{'h-[0px] invisible': isopencats}"  class="departments z-50 absolute top-[100%]   w-[300px] bg-[#fff] border">
                            <ul>
                              <li class="border-t relative" *ngFor="let cat of cats">
                                <a
                                    [routerLink]="['/products']"
                                    [queryParams]="{ category: cat.name }"
                                  class="category font-medium h-[46px] flex items-center gap-3 text-xl px-[1.5em]"
                                                                >
                                  <i class="ri-bear-smile-line"></i>
                                  <span class="text-gray-500">{{ cat.name }}</span>
                                  <div class="ml-auto">           
                                  </div>                      
                                </a>                   
                              </li>
                            </ul>
                          </div>
                          
                    </div>
                </div>
                <div class="right flex-1 w-full md:max-w-[400px] lg:max-w-[600px]">
                    <div class="relative overflow-hidden">
                      <span class="absolute top-[5px] text-[#ff6b6b] left-3 text-[20px] h-full"><i class="ri-search-line"></i></span>
                      
                      <input [(ngModel)]="searchTerm" class="border-0 text-2xl overflow-hidden rounded-[10px] 
                      text-[0.9em] font-light w-full outline-none pr-[7em] pl-[3em] leading-[3.25em]" type="text" placeholder="Search for products">
                      
                      <button (click)="searchProducts()" class="rounded-r-lg absolute top-0 px-[1.5em] py-[0.55em] bg-[#ff6b6b] text-[#f2f3f5] h-full right-0 border-0 outline-none text-[1em] font-semibold">Search</button>
                    </div>
                </div>
                  
            </div>
        </div>
    </div>
    
</div>



